/*----------------MAIN--------------*/
/*----------------------------------*/
body {
	font-family: arial;
}
.push {
	clear: both;
}
.signup-header-wrapper {

}
.signup-main-wrapper {
	padding-bottom: 100px;
}
.fields-required {
	margin-top: 40px;
}
.signup-info {
	width: 400px;
	font-size: 18px;
	padding: 10px 5px;
	border: 1px solid #e3e3e3;
	margin-top: 5px;
	margin-bottom: 20px;
}
	.signup-info:focus {
		outline-width: 0px;
	}
.checkmark, .cross {
	display: none;
	margin-top: 13px;
    margin-left: 5px;
}
#signup-submit {
	background-color: #cee3ff;
}
.signup-input-box {
	float: left;
}
/* ---------- RETINA QUERIES ---------- */
  /*------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

  .signup-header-wrapper {
    background-image: url('images/signup-2x.jpg');
    background-size: 1920px 245px;
  }
}
/*---------- MEDIA QUERIES ---------*/ 
/*----------------------------------*/
@media (max-width: 480px) {
	.signup-info {
		width: 100%;
	}
	.signup-input-box {
		width: 100%;
	}
}